# Default ignored files
/../../Appointment-Manager-SQL-Python /.idea/shelf/
/../../Appointment-Manager-SQL-Python /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Appointment-Manager-SQL-Python /.idea/httpRequests/
# Datasource local storage ignored files
/../../Appointment-Manager-SQL-Python /.idea/dataSources/
/../../Appointment-Manager-SQL-Python /.idea/dataSources.local.xml
